.mainDiv {
  display: flex;
}

.leftSideDiv {
  width: 50%;
}

.rightSideDiv {
  width: 50%;
  background-color: #155bd5;
}

@media screen and (max-width: 400px) {


  .leftSideDiv {
    display: none;
  }

  .rightSideDiv {
    width: 100%;
    background-color: #155bd5;
  }
}

.MuiButtonBase-root.MuiRadio-root {
  color: white !important;
}

.MuiSvgIcon-root {
  color: white !important;
}
